body {
    background-image:    url(uva_image.png);
    background-size:     contain;                      
    background-repeat:   no-repeat;
    background-position: center center;              
}
h1 {
    color: lightgray;
  } 