/* body {
    background-image:    url(uva_image.png);                    
    background-repeat:   no-repeat;
    background-position: center center;   
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
           
}

body {
    background-color: lightpink;
  }

h1 {
    color: red;
    background-color: rgb(232, 215, 218);
  } 